body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body,h1,h2,h3,h4,h5,p{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#map {
  width: 100%;
  height: 100vh;
  background: #dbdbdb;
}

.input-container label {
  display: flex !important;
  align-items: center !important;
  margin: 2px !important;
  width: 600px !important;
}
.input-container span, .input-container select {
  flex: 1 !important;
}
html{height:100%}

.location-item{
  background: #ffffff;
}
.empty-container{
  margin: 15px 0;
}
.records-header{
  margin: 10px 0;
}
.app-error{
  position: fixed;
  right: 0;
  padding: 5px 10px;
  z-index: 9999;
  width: 35%;
}
.card-footer{
  padding: 8px 20px 5px 35px !important;
}
.card-footer .row{
  margin-bottom: 0;
}

.leaflet-control-search .leaflet-control-search-input {
  width: 100%;
}
input:not([type]){
   height: inherit;
  width: 100%;
   font-size: inherit;
  padding-left: 25px;
  border-bottom: none !important;
  box-shadow: none !important;
}
.leaflet-control-search-input{
  background-size: 25px;
}
